* {
    font-family: sans-serif;
    background-color: antiquewhite;
}

button {
    background-color: rgb(39, 52, 27);
    color: white;
    border: none;
    border-right: 2px solid rgb(36, 74, 34);
    border-bottom: 2px solid rgb(36, 74, 34);
    padding: 10px 20px;
    font-weight: bold;
}

p {
    width: 50%;
}